<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".test.FoldImage3DTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.FoldImage2DTestActivity"
            android:exported="false" />
        <activity
            android:hardwareAccelerated="true"
            android:name=".test.ShapeCutTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.UnveilTestActivity"
            android:exported="false" />
    </application>

</manifest>